*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #FFFFFF;
}
.head{
    background-image: url(../img/BG.png);
    height: 1120px;
    background-repeat: no-repeat;
    background-position:center;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color: #F87932;
    height: 100%;
    font-weight: 700;
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    letter-spacing: 5px;
    transition: .5s;
    margin-left: 31.5px;
    margin-right: 31.5px;
}
.nav a:hover{
    padding: 36px 24px;
    box-shadow: #FFFFFF 0 0 20px;
    transition: .5s;
}
.nav img{
    padding: 16px 43px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    margin-left: 31.5px;
    margin-right: 31.5px;
    transition: .5s;
}
.nav img:hover{
    box-shadow: #FFFFFF 0 0 20px;
    transition: .5s;
}
.nav{
    display: flex;
    justify-content: center;}

    .romb{
        position: absolute;
    }
    
    
    .travel-nazv{
        font-size: 80px;
        color: #39BFA7;
        font-family: 'Merriweather';
        margin-top: 160px;
        margin-left: 90px;
        font-weight: 500;
    }
    .travel-nazv .orange-span{
        color: #F87932;
        font-family: 'Merriweather';
    }
    .bloc-traveling button{
        color: #FFFFFF;
        letter-spacing: 5px;
        padding: 16px 24px;
        background-color: #F87932;
        font-size: 20px;
        font-weight: 600;
        margin-top: 80px;
        margin-left: 90px;
        transition: .5s;
    }
    .bloc-traveling button:hover{
        box-shadow: #00ffd0 0 0 100px;
        transition: 1s;
        border-radius: 100px;
        background-color: #ff5e00;
    }
    .bloc-traveling{
        display: flex;
    }
    .traveling-right .main-romb0{
        margin-left: 45px;
        margin-top: 70px;
        position: absolute;
    }
    .traveling-right .romb1{
        position: absolute;
        margin-top: 51px;
        margin-left: 458px;
    }
    .traveling-right .romb2{
        position: absolute;
        margin-top: 284px;
        margin-left: 558px;
    }
    .traveling-right .romb3{
        position: absolute;
        margin-top: 377px;
        margin-left: 404px;
    }
    .traveling-right .romb4{
        position: absolute;
        margin-top: 542px;
        margin-left: 290px;
    }
    .traveling-right .romb5{
        position: absolute;
        margin-top: 484px;
        margin-left: 36px;
    }
    
    .relax{
        background-image: url(../img/Route.png);
        background-repeat: no-repeat;
        margin-right: 0px;
        padding-right: 0px;
    }
    .relax h2{
        font-family: 'Lato';
        font-weight: 500;
        font-size: 24px;
        color: #666666;
        padding-top: 160px;
        padding-left: 176px;
    }
    .relax h1{
        font-family: 'Merriweather';
        font-weight: 900;
        font-size: 60px;
        color:#222222;
        padding-left: 176px;
    }
    .relax p{
        font-family: 'Lato';
        font-weight: 400;
        font-size: 20px;
        color: #333333;
        padding-left: 176px;
        padding-top: 40px;
    }
    .relax button{
        color: #222222;
        letter-spacing: 5px;
        padding: 16px 24px;
        background-color: #f87b3200;
        border: 3px solid #222222;
        font-size: 20px;
        font-weight: 600;
        margin-top: 200px;
        margin-left: 176px;
        margin-bottom: 80px;
        transition: .5s;
    }
    .relax button:hover{
       box-shadow: #F87932 0 0 100px;
       transition: 1s;
       border-radius: 100px;
    }
    .relax{
        display: flex;
    }
    .relax .img1{
        margin-top: 130px;
        margin-left: 160px;
    }
    .relax .img2{
        width: 550px;
    }
    
    
    .life{
    background-image: url(../img/Mask\ group\ \(1\).png);
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 1px;
}
.life h1{
    font-family: 'Merriweather';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 60px;
    padding-top: 426px;
    text-align: center;
}
.life p{
    font-family: 'Lato';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 4px;
}
.life .play{
    display: flex;
    justify-content: center;
    margin-top: 151px;
}
.life .imgs{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.blog h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-top: 96px;
    color: #222222;
}
.blog h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #444444;
}
.blog .group{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.blog p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 60px;
    color: #666666;
}



.blog  .grid{
    display: grid;
    grid-template: repeat(2, 282px) / 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.grid-el{
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.blog .grid .grid-el:nth-child(1){
    grid-area: 1 / 2 / 3 / 1;
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 79.png);
}
.blog .grid .grid-el:nth-child(2){
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 82.png);
}
.blog .grid .grid-el:nth-child(3){
    grid-area: 1 / 3 / 2 / 5;
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 81.png);
}
.blog .grid .grid-el:nth-child(4){
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 80.png);
}
.blog .grid .grid-el:nth-child(5){
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 83.png);
}
.blog .grid .grid-el:nth-child(6){
    background-image:linear-gradient(#00000000 50%, #00000088 100%), url(../img/Rectangle\ 84.png);
}

.blog .grid-el .fg{
    opacity: 0;
    position: absolute;
    background: #00000088;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    text-align: start;
    transition: .5s;
}
.blog .grid-el:hover .fg{
    opacity: 1;
    transition: .7s;
}
.blog .grid-el .fg *{
    width: 60%;
}
.blog .grid-el .fg p{
    color: #FFFFFF;
    font-family: 'Merriweather';
    font-size: 24px;
    padding-left: 16px;
    text-align: start;
    margin-bottom: 0px;
    padding-bottom: 16px;
}
.blog .grid-el .fg img{
    width: 70px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.blog .button{
    display: flex;
    justify-content: center;
}
.blog button{
    color: #222222;
    letter-spacing: 5px;
    padding: 16px 24px;
    background-color: #f87b3200;
    border: 3px solid #222222;
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 80px;
    transition: .5s;
}
.blog button:hover{
   box-shadow: #F87932 0 0 100px;
   transition: 1s;
   border-radius: 100px;
}



